@page "/"

<PageTitle>Index</PageTitle>

<div class="container d-flex flex-wrap justify-content-center">

            <div class="card m-2 shadowMe" style="width: 15rem;">
                 <NavLink class="nav-link" href="ticket">
                     <div style="display:flex; justify-content: center; align-items:center">

                    <img class="card-img-top" src="/images/entrada.png" alt="Card image cap">
                     </div>
                    <div class="card-body">
                        <p class="card-text">Boletas</p>
                    </div>
                </NavLink>
            </div>
</div>
